
html {
    background-color: #fdf9f3;
}

body {
    font-family: "Lato", sans-serif;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar .settings {
    position: absolute;
    font-size: 26px;
    margin-left: 50px;
    padding: 4px 4px 4px 16px;
}

.sidebar .settings:hover {
    font-size: 36px;
}

.sidebar a:hover {
    color: #f1f1f1;
    font-size: 19px;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidebar .closebtn:hover {
    font-size: 40px;;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #fdf9f3;;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border: none;
}

.openbtn:hover {
    background-color: #44444497;
    font-size: 25px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    position: relative;
    display: inline-block;
}

.Title {
    text-align: center;
    border: 2px solid black;
    background-color:#ccc7bf 

}

#maincontent {
    transition: margin-left .5s;
    padding: 16px;
}

.maintable{
    width: 100%;
    margin-left: auto; 
    margin-right: auto;
}

.maintable, th, td {
    border: 2px solid black;
}

.maintable th {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: larger;
    background-color:#ccc7bf ;
}



#box ul, #box ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 30px;
    line-height: 30px;
    width: 100px;
}
#box {
    display: inline-block;
    cursor: default;
    position: relative; /* Ensure dropdown is positioned relative to the parent */
}
#box ul {
    padding: 0;
    margin: 0;
}
#box ul, #box li, #box ul {
    display: none; /* Ensure submenu is hidden by default */
    position: absolute;
    top: 30px; /* Adjust top value for correct positioning */
    left: 0; /* Adjust left value for correct positioning */
}
#box:hover ul {
    display: block; /* Show submenu when parent is hovered */
}
#box ul, #box li, #box ul, #box li:hover {
    background-color: rgb(33, 144, 255);
    color: white;
}
#box a {
    color: black;
    text-decoration: none;
}