{% load static %}
<!DOCTYPE html>
<!-- Colour Palette is as follows: Colour Palette["#FDF9F3", "#F8EAD5", "#C7B299", "#A67C52", "#282828", "#66140A"]-->
<!--Found from the Portcullis Website-->
<html lang="en">
    <head>
        <title>Portcullis Database</title>
        <style>
        </style>
        <link rel="stylesheet" href="{% static 'userandpassinput/UIstyle.css' %}">
    </head>
    <body>   
       <div>
            <h1 id="Heading"> Portcullis Periodic Reviews Database (Prototype) </h1>
            <h2 id="Heading"> Heading 2</h2>
            <h3 id="Heading">Heading 3</h3>
            <h4 class="DefaultText"> 
                Welcome to the Portcullis Periodic Review Database! 
                In this database, you are able to edit the current funds, investors, and their risks. 
                Every quarter, the names of those sent in a periodic review will be sent relevant members of the company.
            </h4>

       </div> 
       <div>
        <table>
            <thead>
                <th>Tablehead1</th>
                <th>Tablehead2</th>
                <th>Tablehead3</th>
            </thead>
            <tbody>
                <tr>
                    <td>Tabledatarow1</td>
                    <td>Tabledatarow1</td>
                    <td>Tabledatarow1</td>
                </tr>
                <tr>
                    <td>Tabledatarow2</td>
                    <td>Tabledatarow2</td>
                    <td>Tabledatarow2</td>
                </tr>
            </tbody>
        </table>
        <h4 class="DefaultText">Login Details</h4>
        <form>
            <input type="text" placeholder="Username" name="UName">
            <input type="password" placeholder="Password" name="Password">
            <input type="submit">
        </form>
       </div>
       <div>
            <h1 class="DefaultText">Ordered List:</h1>
            <ol class="DefaultText">
                <li>Ordered List Item 1</li>
                <li>Ordered List Item 2</li>
                <li>Ordered List Item 3</li>
                <li>Ordered List Item 4</li>
            </ol>
            <h1 class="DefaultText">Unordered List:</h1>
            <ul class="DefaultText">
                <li>Unordered List Item 1</li>
                <li>Unordered List Item 2</li>
                <li>Unordered List Item 3</li>
                <li>Unordered List Item 4</li>
            </ul>
            <button>Button</button>
        </div>
        <div>
            <img src="Corporateslop.png" alt="This image appears to not have loaded." width="300">
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" style="color:lightskyblue">Further Reference And Watching</a>
        </div>
        <div id="FlexboxDemo">
            <div>1This is Flexbox Demo Text</div>
            <div>2This is Flexbox Demo Text</div>
            <div>3This is Flexbox Demo Text</div>
            <div>4This is Flexbox Demo Text</div>
            <div>5This is Flexbox Demo Text</div>
            <div>6This is Flexbox Demo Text</div>
            <div>7This is Flexbox Demo Text</div>
            <div>8This is Flexbox Demo Text</div>
        </div>
    </body>
</html>;