{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'userandpassinput/homepage.css' %}">
    <script src="{% static 'userandpassinput/homepage.js' %}"></script>
</head>
<body>
    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <br><br><br>
      <hr>
      <a href="Quarter1">Database</a>
      <hr>
      <a href="#">Page X</a>
      <hr>
      <a href="#">Page X</a>
      <hr>
      <a href="#">Page X</a>
      <hr>
      <a href="#">Page X</a>
      <hr>
      <a href="#">Page X</a>
      <hr>
      <br><br><br>
      <a href="settings" class="settings">⚙️</a>
    </div>
    <div id="main">
      <button class="openbtn" onclick="openNav()">☰</button>  
      <br><br>
      <div class="dropdown-container">
        <button onclick="toggleDropdown()" class="dropbtn">Select Quarter</button>
        <div id="myDropdown" class="dropdown-content">
          <a href="Quarter2">Quarter 2</a>
          <a href="Quarter3">Quarter 3</a>
          <a href="Quarter4">Quarter 4</a>
          <a href="homepage">Back to Homepage</a>
        </div>
      </div>
    </div>

    <section id="maincontent">
      <span class="Homepage_text">
        <h1>Successfully logged into secure portal
          <br>
          <br>
          <br>
        Welcome to portcullis risk assessment</h1>
      </span>
    </section>
</body>
</html>

